DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,SEU_IP_OU_DOMINIO
DJANGO_CSRF_TRUSTED_ORIGINS=http://SEU_IP_OU_DOMINIO,https://SEU_IP_OU_DOMINIO

POSTGRES_DB=music_library
POSTGRES_USER=music_library
POSTGRES_PASSWORD=music_library
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2
MUSIC_DIR=../../music
MUSIC_STORAGE_ROOT=/music
SLSKD_DOWNLOADS_DIR=/music

SLSKD_BASE_URL=http://slskd:5030
SLSKD_API_KEY=12345678901234567890
SLSKD_SLSK_USERNAME=
SLSKD_SLSK_PASSWORD=
SLSKD_REQUEST_TIMEOUT_SECONDS=5
DOWNLOADED_FILES_CACHE_SECONDS=20
