# Django e Python
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Docker e Infraestrutura
.env
.idea/
.vscode/
*.log

# Caso tenha volumes locais salvos dentro da pasta do projeto
postgres_data/
redis_data/
slskd_data/

music/library/*